extends ../layout
block content
    header(class="aui-bar aui-bar-nav") 注册
    div(class='aui-content aui-margin-t-15')
        ul(class='aui-list aui-form-list')
            li(class='aui-list-item')
                div(class='aui-list-item-inner')
                    div(class='aui-list-item-label') 手机号
                    div(class='aui-list-item-input')
                        input(type='text', placeholder='请输入手机号')
            li(class='aui-list-item')
                div(class='aui-list-item-inner')
                    div(class='aui-list-item-label') 昵称
                    div(class='aui-list-item-input')
                        input(type='text', placeholder='请输入昵称')
            li(class='aui-list-item')
                div(class='aui-list-item-inner')
                    div(class='aui-list-item-label') 密码
                    div(class='aui-list-item-input')
                        input(type='password', placeholder='123就好')
            li(class='aui-list-item')
                div(class='aui-list-item-inner')
                    div(class='aui-list-item-label') 打卡页面
                    div(class='aui-list-item-input')
                        input(type='text', placeholder='请粘贴')
            li(class='aui-list-item')
                div(class='aui-list-item-inner aui-list-item-center aui-list-item-btn')
                    div(class='aui-btn aui-btn-info aui-margin-r-5') 注册
                    div(class='aui-margin-l-5')
                        a(href='/wx/login' class='aui-text-info') 返回登录

    div(class='aui-content-padded aui-margin-t-15')
        div(class="aui-text-danger") 本平台属于短期助力使用，未对用户安全做相关处理，一切数据均在私人服务器上，请勿设置在其他平台的密码，防止平台被脱裤带来的风险，由此带来的一切后果均由本人承担后果，本平台不承担一切后果。